@media (max-width: 1024px) {
  :root {
    --topbar-height: 55px;
    --menu-width: 450px; /* ← change this to match their width */
    /* 1024- 769 */
    --fontsize-14: clamp(0.875rem, 0.875rem + 0vw, 0.875rem); /* 14 */
    --fontsize-16: clamp(0.875rem, 0.5434rem + 0.5181vw, 1rem); /* 14 */
    --fontsize-18: clamp(1rem, 0.6684rem + 0.5181vw, 1.125rem); /* 16 */
    --fontsize-20: clamp(1rem, 0.623rem + 0.7843vw, 1.125rem); /* 18 - 16 */
    --fontsize-30: clamp(1.625rem, 1.248rem + 0.7843vw, 1.75rem); /* 28-26 */
    --fontsize-50: clamp(2.875rem, 2.498rem + 0.7843vw, 3rem); /* 48-46 */
  }
  .process-content {
    gap: 2rem;
  }
  .process-content img {
    width: 50vw;
    aspect-ratio: 10/6;
  }
  #copyright {
    font-size: 1.6vw;
  }
}

@media (max-width: 768px) {
  :root {
    --topbar-height: 55px;
    --menu-width: 450px; /* ← change this to match their width */
    /* 768 - 390 */
    --fontsize-14: clamp(0.625rem, 0.3671rem + 1.0582vw, 0.875rem); /* 14-10 */
    --fontsize-16: clamp(0.625rem, 0.3671rem + 1.0582vw, 0.875rem); /* 10 */
    --fontsize-18: clamp(0.625rem, 0.2381rem + 1.5873vw, 1rem); /* 16-10 */
    --fontsize-20: clamp(0.625rem, 0.2381rem + 1.5873vw, 1rem); /* 16-10 */
    --fontsize-30: clamp(
      1.125rem,
      0.6091rem + 2.1164vw,
      1.625rem
    ); /* 26 - 18 */
    --fontsize-50: clamp(2.5rem, 2.1131rem + 1.5873vw, 2.875rem); /* 46-40 */
  }
  .overview-desc {
    width: 45%;
  }
  .design {
    max-width: 70%;
  }
  .image-grid {
    gap: 1rem;
  }
  /*PROCESS STYLES */
  .process {
    padding: 0 15px;
  }
  .process-content {
    gap: 1.5rem;
  }
  .footer {
    padding: 20px;
  }
  .footer .footer-links {
    padding: 0px 20px;
  }
  #copyright {
    font-size: 2vw;
  }
}
@media (max-width: 576px) {
  :root {
    --fontsize-50: clamp(1.875rem, 0.5645rem + 5.3763vw, 2.5rem); /* 40-30 */
  }
  .heading h1 {
    margin-left: 10px;
  }
  .overview {
    padding: 15px;
  }
  .overview-content {
    margin-top: 30px;
  }
  .metadata {
    width: 50%;
  }
  .image-1 p {
    margin-left: 4%;
  }
  .design {
    padding: 30px;
    max-width: 80%;
  }
  .process-content {
    flex-direction: column;
    gap: 1.5rem;
  }
  .process-content img {
    width: 100%;
    aspect-ratio: 10/7;
  }
  .footer {
    gap: 3rem;
  }
  .footer .footer-links {
    gap: 0.5rem;
  }
  .footer-subinfo {
    gap: 0.5rem;
  }
  #copyright {
    font-size: 2.5vw;
  }
}
